@tailwind components;
@tailwind utilities;

*:not(div) {
  animation: ahq-style normal 0.2s;
  transition: all 0.1s;
}

@keyframes ahq-style {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 100%
  }
}

::-webkit-scrollbar {
  display: none;
}

.page-load {
  @apply absolute h-[100vh] w-screen flex flex-col justify-center text-center items-center;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: 999999999999999999999999999999999999999999999999999999;
  transition: none !important;
  animation: none !important;
  background: var(--astro-code-color-background);
}

.moved-header {
  @apply bg-transparent;
}

.page-load span {
  @apply dui-loading dui-loading-spinner w-[5vw];
  transition: none !important;
  animation: none !important;
}

.site-title {
  @apply max-h-[3.5rem];
}

.site-title img {
  @apply max-h-[3rem];
}

.action:nth-child(1) {
  @apply p-4 px-9 text-xl font-extrabold text-white bg-purple-800 !important;
}

.action:nth-child(2) {
  @apply dui-btn h-[100%] normal-case text-xl p-4 px-5 !important;
}

.download-btn {
  @apply dui-btn border-none rounded-lg bg-purple-700 hover:bg-purple-800 text-white w-full !important;
}

ol[role="list"] li {
  @apply my-5;
}

pre[data-language="sh"] div[class="code"]::before {
  content: "$ ";
}